{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit your RAG content{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" class="module">
      <label for="question">Enter a question and see the response</label>
      <div class="question-input-row">
          <input type="text" id="question" value="{{ question }}" name="question">
          <button type="submit">Ask LLM</button>
      </div>

      <div>LLM Response:</div>
      <div>{{ answer }}</div>

  </form>
{% endblock %}